/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        box-sizing: border-box;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 100px;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities {
        width: 100%;
        box-sizing: border-box;
    }

    .activities-card img {
        width: 100%;
        height: 74%;
    }

    .activities-card .card-content {
        width: 100%;
        height: 26%;
        display: flex;
        align-items: center;
    }

    .activities-card a {
        width: 25%;
    }

    .activities-card .card {
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
    }

    .activities-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #assistance {
        margin-right: 150px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}