/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    /* Header responsive tablette */

    header {
        width: 100%;
        box-sizing: border-box;
    }

    /* Filtre responsive tablette */

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    /* Hébergements et populaire responsive tablette */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Activités responsive tablette */

    .activities {
        width: 100%;
        box-sizing: border-box;
    }

    .activities-card img {
        width: 100%;
        height: 74%;
    }

    .activities-card .card-content {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .activities-card a {
        width: 25%;
    }

    .activities-card .card {
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
    }

    .activities-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Footer responsive tablette */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #assistance {
        margin-right: 150px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    body section {
        margin-bottom: 20px;
    }

    main {
        margin: 20px 0 20px 0;
    }

    /* Header responsive mobile */

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav li {
        padding-bottom: 13px;
        width: 100%;
        text-align: center;
    }

    header img {
        margin-top: 60px;

    }

    nav {
        width: 100%;
        margin-top: 10px;
    }

    nav a {
        width: 100%;
    }

    header a:hover {
        border-top: none;
        color: #0065FC;
        padding: 0;
    }

    header li {
        border-bottom: 2px solid #f2f2f2;
    }

    header li:hover {
        border-bottom: #0065FC 2px solid;
    }

    #nav-activites {
        margin: 0;
    }

    /* Reherche responsive mobile */

    .recherche div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
        margin: 0 5% 0 5%;
    }

    .recherche h2 {
        margin: 0;
        padding: 0;
    }

    .recherche form {
        width: 89% ;
        margin: 0 5% 0 5%;
        border: 1px solid #f2f2f2 ;
        border-radius: 15px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    form .search-1 {
        height: 49px;
        width: 50px;
        flex-shrink: 0;
    }

    form .search-3 {
        display: none;
    }

    form button {
        display: flex;
        width: 49px;
        width: 49px;
        background-color: #0065FC;
        border-radius: 15px;
        border: none;
        filter: drop-shadow(0 4px 4px rgba(0, 0 ,0, 0.1));
        }

    .search-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;
        margin: auto;
        height: 17px;
        width: 17px;
    }

    .search-2 {
        border: none;
    }

    /* Filtres responsive Mobile */

    .filtres {
        width: 100%;
        margin: 0 5% 0 5%;
        display: flex;
        justify-content: flex-start;

    }

    .filter-pack {
        width: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 49px 49px;
        row-gap: 20px;
        margin-left: auto;
        margin-right: 20px;
        
    }

    .responsive-filter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    #eco, #roma {
        margin-left: 0;
    }

    .filter .fa-solid {
        margin-right: 0;
    }

 
   
    .filter-pack p {
        font-size: 14px;
        text-align: left;
        margin-right: 5px;
        white-space: nowrap;
    }

    /* Infobar responsive mobile */

    .infobar {
        width: 89%;
        margin-top: 150px;
        margin-left: 4%;
        margin-right: 4%;
    }

    /* Hébergements & Populaires responsive mobile */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .populaires {
        order: 1;
    }

    .hebergements {
        order: 2;
    }

    /* Populaires responsive mobile */

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .populaires-cards .card {
        margin-top: 10px;
    }

    .populaires-cards a {
        width: 100%;
        height: 146px ;
    }

    /* Hébergements responsive mobile */

    .hebergements {
        background-color: #FFFFFF !important;
        width: 100%;
        padding: 0px !important;    
    }

    .hebergements h2 {
        text-align: left ;
        margin-left: 4%;
        width: 100%;
        margin-top: 20px;
    }

    .hebergements-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1px;
        margin: 0px 4% 0px 4%;  
    }

    .hebergements-card a {
        width: 100%;
        height: 207.25px ;
        margin-bottom: 10px;
    }

    .hebergements-card img {
        height: 119px;
    }

    .hebergements-card .card {
        padding: 5px 5px 15px 5px;
        box-sizing: border-box;
        margin-top: 15px;
    }

 

    #afficher-plus {
        margin-left: 4%;
    }

    #le-panier {
        margin-bottom: 30px;
    }

    /* Activités responsive mobile */

    .activities {
        width: 100%;
    }

    .activities-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .activities-card a {
        width: 100%;
        height: 200px;
    }

    .activities-card .card {
        width: 100%;
        height: 200px;
    }

    .activities-card img {
        height: 141px;
    }

    .activities-card .card-content {
        height: 59px;
    }

    /* Footer Responsive Mobile */

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer ul {
        width: 100%;
        margin-left: 4%;
    }
    






}

